:root {
  --primary-font-color: #272142;
  --primary-background-color: rgba(249, 247, 254, 1);
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --secondary-color: rgba(108, 99, 255, 1);
}

.intro h1 {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 90px;
}

.intro h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-font-color);
}

.intro h3 {
  line-height: 36px;
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-font-color);
}

.intro h2,
h3,
h4 {
  font-family: var(--secondary-font-family);
}

.intro h1,
h2,
h3,
h4 {
  text-align: center;
  padding: 5px 0;
}

.intro h4 {
  border-radius: 4px;
  background: rgba(108, 99, 255, 1);
  padding: 20px 25px;
  margin: auto;
  max-width: 200px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  line-height: 27px;
  font-weight: 400;
}

.contact-me {
  padding: 35px 0;
}

.intro {
  padding: 170px 20px;
  width: 100%;
  background-color: var(--primary-background-color);
}

.container h2 {
  font-family: var(--primary-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 85.31px;
}

.container p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.projects-lead-in p {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.project-link {
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 18px 30px;
}
