body {
  background-color: rgba(249, 247, 254, 1);
\
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.intro {
  margin: 120px 50px;
}
